<div class = "intro">
    <h1>HI5</h1>
    <img src = "/img/top.svg" class = "top">
    <div class="introText">
        <p>Welcome!!! <br>
            A place where you can have random conversation. <br>
            Just Sign Up, Select a person and Chat
        </p>
    </div>
    <img src = "/img/bottom.svg" class = "bottom">

</div>

<div id="signUp" class="signUp">

    <div class = "wrapper">
        <h1>Sign Up</h1>
        <input id="userName" type="text" placeholder="User Name" name="userName"/>
        <input id="email" type="text" placeholder="Email Address" name="email"/>            
        <button id="addUserBtn" type="button"> Add User </button>

        <script> 
            $('#signUp').ready(function () {
                console.log('div ready');
            
                $("#addUserBtn").click(function(e) {
                    e.preventDefault();
                    let email = $('#email').val();
                    let userName = $('#userName').val();
                    let clientId = socket.io.engine.id;

                    clientInfo.email = email;
                    clientInfo.userName = userName;
                    clientInfo.clientId = clientId;

                    console.log('Sending information to server');

                    $.post("/join", {
                        email: email,
                        userName: userName,
                        clientId: clientId,
                    }, function(data, status){
                        if(status == "success") {
                            $.get('/chatRoom', {
                                email: clientInfo.email
                            }, function (data, status) {
                                $('#displayContent').html(data);
                            });
                        } else {
                            alert('Sorry!!! chat app is not responding at a moment.');
                        }
                    });

                });
            });
        </script>
    </div>
    
</div>